@import 'sass/mystyles.scss';

$banner-image-background:  #020635;

body {
    background-color: $banner-image-background;
}

// .title {
//     $title-color: $text-strong;
// }

.bio {
    min-height: 100vh;
    // padding-top: 4rem;
    padding-bottom: 10rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.content .title {
    text-align: center;
  
    span {
    padding: 1px 8px;
    &::before {
        content: "\A";
        white-space: pre;
    }
  }
}
