@charset "utf-8";
@import "../node_modules/bulma";
// Import a Google Font

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$lightning-portrait-color: #020635;
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Footer
$footer-background-color: #fafafa;
$footer-color: false;
$footer-padding: 3rem 1.5rem 6rem;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

.bg-variant-title {
  color: #ffffff;
}

.bg-variant-subtitle {
  color: $grey-light;
}

.footer{
    background-color: $footer-background-color;
    color: $footer-color;
    padding: $footer-padding;
  }