# don't share .git secrets
.git

# don't need the build directory since we'll rebuild the project inside
build

# copying node_modules is slow and we'll need a fresh install anyway
node_modules

# no docker artifacts
*Dockerfile*
.dockerignore

# no documentation
*.md