@import 'sass/mystyles.scss';

.footer{
    background-color: #fafafa;
    // color: $grey-light;
    padding: 2rem 1.5rem 2rem;
  }

.icon {
    // padding: 1rem;
    object-fit: contain;
    size: 4 auto;
}
