@import 'sass/mystyles.scss';

$banner-image-background:  #020635;

body {
    background-color: $banner-image-background;
}

.splash-color {
    background-color: $banner-image-background;
}

.bio {
    // min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: $shipcove;
}

.content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    .title {
        text-align: center;
        color: $black;
        span {
        padding: 1px 8px;
        &::before {
            content: "\A";
            white-space: pre;
        }
    }
    }
}

section.section.no-pb {
    padding-bottom: 0;
}
